backports-abc==0.4
backports.ssl-match-hostname==3.5.0.1
certifi==2015.11.20.1
contextlib2==0.5.1
gunicorn==19.4.5
raven==5.10.2
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
wsgiref==0.1.2
